{% extends "base.html" %}
{% block content %}
<h1>The Login Page</h1>

<div class='auth-form'>
<!-- action attribute should be equal to the target /url -->
    <form action="/login" method="POST">
        <!-- the name attribute is required to be 
        able to reference them when retrieving
        their values-->
        {{ form.hidden_tag() }}

        {{ form.email.label }}
        {{ form.email }}
        {% if form.email.errors %}
            {% for error in form.email.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %} 
        {% endif %}

        {{ form.password.label }}
        {{ form.password }}
        {% if form.password.errors %}
            {% for error in form.password.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %} 
        {% endif %}

        {{ form.remember.label }}
        {{ form.remember }}

        <br>
        {{ form.submit }}
    </form>
    <legend>Don't have an account? <a href="{{ url_for("sign_up") }}">Sign up</a></legend>
</div>

{% endblock content %}
