/* Variables */
:root {
  --background-color: #fff;
  --text-color: #000;
  --navbar-bg: #6a73fc;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #181ab;
    --text-color: #fff;
    --navbar-bg: #6abdfc;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 1em;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

/* navbar styling */
.navbar {
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.navbar li {
  display: inline;
  text-decoration: none;
  padding: 5px;
}

/* login and sign up forms */
.auth-form {
  background-color: #b2d0e8;
  display: block;
  justify-content: center;
  /* width style color */
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 15px;
  /* dynamic width */
  max-width: 200px;
}

.auth-form label {
  font-weight: bold;
  padding: 1px;
}
