:root {
  --background-color: #fff;
  --text-color: #000;
}

@media (prefers-color-scheme: dark) {
  body {
    --background-color: #000;
    --text-color: #fff;
  }
}

body {
  width: 500px;
  margin: auto;
  padding: 10px;
  background-color: var(--background-color);
  color: var(--text-color);
}
