<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
        {% if title %}
            <title>Noob IMS - {{title}}</title>
        {% else %}
            <title>Noob IMS</title>
        {% endif %}
    </head>
    <body>

        <header>
            <nav class="navbar">
                <a class="logo" href="{{ url_for("home") }}">LOGO</a>
                <ul>
                    <li><a href="{{ url_for("home") }}">Home</a></li>
                    <li><a href="{{ url_for("login") }}">Login</a></li>
                    <li><a href="{{ url_for("sign_up") }}">Sign up</a></li>
                </ul>
            </nav>
        </header>

        <main class="content">
        {% block content %}{% endblock %}
        </main>
    </body>
</html>
